{% extends 'registration/registration_base.html' %}
{% load url from future %}

{% block inner_content %}
To reset your password, please enter the information associated with your account.
<br><br>
<div style="text-align:center; display:inline-block; margin:auto">
<form method="post" action="{{ request.path }}">
  {% csrf_token %}
  <table style="text-align:left">
  {{ form.as_table }}
  </table>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
</div>

<script>
	$(function() {
        $(window).load(function () {
            $(':input:visible:enabled:first').focus();
        });
	});
</script>

{% endblock %}
