{% extends 'registration/registration_base.html' %}
{% load url from future %}

{% block inner_content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div id="permission_error"> <!-- this id is checked by the image upload code -->
You don't have the proper permissions to perform this action.
<br>
<br>
To continue, login as a different user below.
<br>
<br>
</div>
<form method="post" action="/permission_login/">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Switch User" class="btn btn-primary" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
