{% extends 'thecavins/base_thecavins.html' %}
{% load url from future %}

{% block content %}
     <div id="about">
       <div clas="row">
        <h2 style="text-align:center">Merry Christmas and Welcome to the Cavin Family Private Network! </h2>
       </div>
       <div class="row">
       <div class="span1"></div>
       <div class="span10" style="font-size:20px; line-height:30px; font-family:'comic sans ms'">
        <div style='text-align:center;'><img src="{{ MEDIA_URL }}/images/a_small.jpg"/></div>
<hr>
        <p>
Every time we get together we create great and lasting memories.  As we've moved to different corners of the country pursuing our own goals, those times are harder to come by.  Though technology is a not a replacement for presence, we have found that an emailed photo of us straddling a beached whale, a quick story about upside-down horizons, or even a Christmas Lightt helps us share our individual experiences and brings us closer.
<br><br>
  
Now that we all have (or soon will have) smartphones, I've started working on our own private 'social network' (including this page, an iphone app, and an android app).  The hope is to make sharing experiences within our family easier than ever!
<br><br>

Since this is OUR site, let's do a little planning while we're all together.  My hope is to get everything up and basically running before Mom's birthday, so that Julie, Aurora, Grandma, and I (and the others in the Cavin extended collective) can join in! :)

<bR><br>
<br>
Love,
<br>
Rob
<br>
        </p>
<hr>
        <div style='text-align:center;'><img src="{{ MEDIA_URL }}/images/e_small.JPG"/></div>
   </div>
            
      </div>
{% endblock %}




      
