{% extends 'thecavins/base_thecavins.html' %}
{% load url from future %}

{% block content %}
     <div class="row">
      <div id="about">
        <h2>Rob's Christmas present to the Cavin Family! </h2>
        <p>
          This is the future home of the Cavin Family's social network!<br>
          Kinda thinking Facebook just for the Cavins, without Ads :) <br>
          Design pending but to include...
          <ul>
            <li>Private login for the Cavin and family peeps.  All the stuff posted privately is just for us.</li>
            <li>Private logins for extended family to view the shared stuff! </li>
            <li>Upload pics and videos and stuff using our smartphones</li>
            <li>Phone notifications when one of us has something cool to share</li>
            <li>Comments for everything we upload</li>
            <li>Shared calendar</li>
            <li>Everything we upload can be viewed by date, location on a map, who created it, who's it mainly for, etc.</li>
            
          </ul>
        </p>
      </div>
            
      </div>
{% endblock %}




      
